/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    140deg,
    rgba(4, 7, 21, 1) 0%,
    rgb(29, 71, 143) 100%
  );
  background-image: url(./img/tienda/grafiti.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.h-content {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  z-index: 999;
}

.h-section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  height: 105px;
}

.h-section-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  transition: filter 0.3s ease;
  text-decoration: none;
}

.h-section-a:hover {
  /* filter: drop-shadow(0 0 1em #61dafbaa); */
  filter: drop-shadow(0 0 0.7em #9dccd8aa);
  /* filter: drop-shadow(0 0 .5em #fff); */
}

.h-content .h-logo {
  position: relative;
  right: 4px;
  width: 80px;
  margin: 0;
  margin-left: 10px;
}

.h-content h6 {
  position: relative;
  bottom: 7px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
/*Buscar*/

.h-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 35px;
  background: white;
  padding: 10px;
  border-radius: 15px;
}

.h-box i {
  font-size: 20px;
  color: #777;
  cursor: pointer;
}

.h-box .h-form-input {
  flex: 1;
  height: 20px;
  border: none;
  outline: none;
  font-size: 18px;
}

.h-form label {
  font-size: 20px;
  color: #fff;
}

/*Inicio sesión*/
.h-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 3px;
}

.h-auth a {
  margin: 8px;

  text-decoration: none;
  font-size: 16.5px;
  color: white;
}

.h-auth a:hover {
  color: #70797b;
}

.h-auth:hover {
  color: #70797b;
}

.h-img-lupa {
  filter: invert(100%);
  width: 20px;
  margin: 5px;
  display: none;
}

.h-img-corazon {
  filter: invert(100%);
  width: 25px;
}

.h-img-carrito {
  filter: invert(100%);
  width: 25px;
}

.h-img-menu {
  position: relative;
  filter: invert(100%);
  width: 25px;
  display: none;
}

.h-img-person {
  filter: invert(100%);
  width: 25px;
}

.h-stick {
  color: #fff;
  font-size: 15px;
}

/* Barra de navegación */
nav.navbar {
  background-color: rgb(10, 26, 42);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  margin-top: 20px;
}

img.logo {
  margin-left: 0;
}

.logo h1 {
  margin: 0;
}

.nav-links ul {
  background-color: rgb(10, 26, 42);
  list-style: none;
  padding-right: 120px;
  display: inline-block;
}

.nav-links li {
  background-color: rgb(10, 26, 42);
  margin-right: 10rem;
  display: inline-block;
}

.nav-links a {
  font-family: "Quantico";
  background-color: rgb(10, 26, 42);
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  display: inline-block; /* Muestra los elementos en línea */
  margin-right: 4rem; /* Espacio entre los elementos */
}

.nav-links a:hover {
  color: #70797b;
}

/* Productos */
.producto {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  transition: transform 0.3s;
}

.producto img {
  max-width: 100%;
  transition: transform 0.3s;
}

.producto img:hover {
  transform: scale(1.1);
}

.nav.navbar {
  padding-left: 100px;
  padding-right: 150px;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: rgb(10, 26, 42);
  padding: 80px;
}

/* Estilos para los elementos de la barra de navegación */
.navbar a {
  text-decoration: none;
  color: #f4f1f1;
  padding: 10px;
  display: inline-block;
}

a.ini {
  /*display: inline-block; */

  margin-right: 0%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Proporción 16:9 para videos */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

/* Estilos para los elementos desplegables */
div.dropdown {
  position: relative;
  margin-left: 0%;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 0px;
  background-color: rgb(10, 26, 42);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(245, 242, 100, 0.2);
  z-index: 0;
  text-align: justify;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: #050606;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(234, 228, 228, 0.2);
  z-index: 0;
}

.dropdown:hover .dropdown-content1 {
  display: block;
}

.producto button {
  background-color: #0d6588;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10%;
}

.producto button:hover {
  background-color: #70797b;
}

div.producto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  /*background-color: #0a1a2a;*/
  background-image: url(./img/tienda/grafiti.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 5%;
  margin-top: 40px;
  margin-left: 220px;
  margin-bottom: 20px;
  width: 300px;
  float: left;
  font-family: "Quantico";
  color: darkkhaki;
  border: none;
}

.h2 {
  margin-top: 20px;
}

img {
  margin-bottom: 20px;
}
/* Pie de página */
.pie-pagina {
  width: 1795px;
  height: 309px;
  margin-top: 1550px;

  background-color: rgba(4, 7, 21, 1);
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  margin-left: 0px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box1 h2 {
  color: #fff;
  margin-bottom: 25px;
  margin-left: 15px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
  font-family: "Quantico";
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(4, 7, 21, 1);
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: #70797b;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
